@using Fluxor
@using BlazorFluxorSample.Stores.Weather
@inject IState<WeatherForecastState> _weatherForecastState;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<span>Number of forecasts: @((_weatherForecastState.Value.WeatherForecasts?.Length ?? -1) + 1)</span>