@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. This is a sample of Fluxor state being updated from various locations to keep various components in sync.

<SurveyPrompt Title="How is Blazor with Fluxor working for you?" />